<p>Win / Loss Tracker</p>

<p>{{detail.name}}</p>

<div class="options">
    <p>Players</p>
    <ul id="players">

    </ul>
</div>

<div class="form">
    <input type="text" id="p-name" placeholder="New player name" />
    <button id="p-submit">Submit</button>
</div>