<p>Win / Loss Tracker</p>

<div class="form">
    <input type="text" id="c-name" placeholder="Name of your competition" />
    <button id="c-submit">Submit</button>
</div>
<div class="options">
    <ul id="competitions">
        {{#each competitions}}
            <li class="compCho" data-id="{{_id}}">
                {{name}}
            </li>
        {{/each}}
    </ul>
</div>