<p>Win / Loss Tracker</p>

<div class="form">
    <input type="text" id="c-name" placeholder="Name of your competition" />
    <button id="submit">Submit</button>
</div>
<div class="options">
    <ul id="competitions">

    </ul>
</div>